/* <div>
<span>Search for category!</span>

<Select
  value={categoryFilter}
  onChange={this.handleChange}
  options={categoryOptions}
  name="categoryFilter"
/>
</div> */

.searchBar {
  width: 60%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .searchBar {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 200px;
  }
}

.headline {
  text-align: center;
  padding-bottom: 15px;
  font-size: 20px;
}
