.footer {
  padding: 0 16px;
  background-color: #0b6460;
  position: absolute;
  bottom: -100px;
  width: 100%;
}

.footer p {
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}

.footer a {
  text-decoration: none;
  color: white;
}
